body {
  margin: 0;
  padding: 0;
}

div {
  margin:0;
  padding:0;
}

.MainInput {
  width: 100%;
}

.BotLine {
  background-color:lightgray;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.UserLine {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
